dist
node_modules
.eslintcache
yarn-error.log
**/*.scip
tsconfig.tsbuildinfo
index.scip

# see https://next.yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/plugins
!.yarn/releases
