name: upload-index
on:
  push:
    paths:
      - '**.ts'

jobs:
  upload-index:
    if: github.repository == 'sourcegraph/scip-typescript'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install npm dependencies
        run: yarn --ignore-engines --ignore-scripts
      - name: Install src-cli
        run: |
          curl -L https://sourcegraph.com/.api/src-cli/src_linux_amd64 -o /usr/local/bin/src
          chmod +x /usr/local/bin/src
      - name: Run scip-typescript
        run: ./node_modules/.bin/ts-node src/main.ts index --no-progress-bar
      - name: Upload index
        run: src lsif upload -github-token='${{ secrets.GITHUB_TOKEN }}' -no-progress
        env:
          SRC_ENDPOINT: https://sourcegraph.com/
