name: release

on:
  push:
    tags:
      - v*

jobs:
  release-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - name: Setup git env
        run: |
          git config --global user.email "bot@sourcegraph.org"
          git config --global user.name "Sourcegraph Bot"
      - uses: actions/checkout@v2
      - name: Get the tag version
        run: echo "NEW_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      - run: npm install
      - run: yarn version --no-git-tag-version --new-version ${{ env.NEW_VERSION }}
      - name: Generate changelog
        run: npx github-changes --only-pulls -b main -o sourcegraph -r lsif-typescript -t "LSIF Node" -k ${{ secrets.GITHUB_TOKEN }}
      - name: Commit changes
        run: |
          git add .
          git commit -m "v${{ env.NEW_VERSION }}"
      - name: Push changes
        run: git push origin HEAD:main
      - run: npm run build
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: echo "PATCH=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - run: echo "MINOR=${PATCH%.*}" >> $GITHUB_ENV
      - run: echo "MAJOR=${MINOR%.*}" >> $GITHUB_ENV
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            sourcegraph/lsif-typescript:latest
            sourcegraph/lsif-typescript:${{ env.PATCH }}
            sourcegraph/lsif-typescript:${{ env.MINOR }}
            sourcegraph/lsif-typescript:${{ env.MAJOR }}
